.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-left: 10%;

}

.result-textarea {
  width: 100%;
  height: 40vh;
  border: 2px solid black;
  resize: none;
  padding: 10px 20px;
  overflow-y: scroll;
  position: relative;
  font-size: 20px;
  margin-right: 5%;

}

.result-textarea::before,
.result-textarea::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, red, blue, green, yellow, red);
  border-image-slice: 1;
  animation: borderAnimation 4s linear infinite;

}

.finishairesult {
  background-color: rgb(37 150 190);
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.75rem;
  margin-top: 10rem;
  left: -2rem;

  position: relative;
}

.finishcontainer {
  margin-top: 30rem;
}



@keyframes borderAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}